
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0

}

h1, h2, h3, h4, h5, h6, p, span, footer, version-text, a {

    font-family: 'Lexend', sans-serif;

}

body, html {
    overflow: hidden;
    background: #212121
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

aside {
    display: flex;
}

.hide {
    display: none !important;
}
.unshow {
    visibility: hidden;
}
