
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0

}

h1, h2, h3, h4, h5, h6, p, span, footer, version-text, a {

    font-family: 'Lexend', sans-serif;

}

body, html {
    overflow: hidden;
    transition: background 250ms;
    background: var(--background-color)
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

aside {
    display: flex;
}

.hide {
    display: none !important;
}
.unshow {
    visibility: hidden;
}

.format {
    position: fixed;
    left:0;
    right:0;
    bottom: 0;
    top:0;
    z-index: 99;
    background: var(--background-color);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.format h1 {
    font-size: 1.75rem;
    color:#fff;
    font-weight: 300;
    margin-bottom: 25px;
    line-height:2.5em;
    text-align: center;
}

.format h3 {
    font-size: 1.2rem;
    color:#999;
    font-weight: 400;
    line-height: 2em;
    text-align: center;
}

@media screen and (min-width: 900px) and (min-height: 400px) {
    .format {
        display:none !important;
    }
}
  