.contains {
    display: flex;
    flex-direction: column;
    width: calc(100% - 100px);
    height: 100vh;
    padding: 0 2.5em;
}
.contains header {
    display:flex;
    position: fixed;
    top:0;
    right:0;
    left: var(--navbar-height);
    height: 100px;
    padding: 0 2.5rem;
    width: calc(100% - var(--navbar-height));
}
.contains header .menu {
    width: 100%;
    display: flex;
    align-items: center;
    color:#aaa; 
    font-size: 14px;
}

.contains header .menu version-text, .contains header .menu a {
    padding:0 20px;
}

.contains header .menu a {
    color: var(--label-color); 
    font-size: 14px;
}

.contains section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.contains .committers .current-comitter {
    width: 40%;
    height: 100vh;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.contains .committers .current-comitter h1 {
    color: var(--title-color);
    font-weight: 500;
    line-height: 1.5em;
    transition: opacity 500ms, height 250ms;
    display: flex;
    font-size: 45px;
    align-items: flex-end;
}

.contains .committers .current-comitter h3 {
    color: var(--text-color);
    font-weight: 400;
    font-size: 18px;
    display: flex;
    width: 60%;
    align-items: center;
}
.contains .committers .current-comitter h5 {
    color: var(--text-color);
    font-weight: 400;
    margin-bottom: 25px;

}
.contains .committers .current-comitter h5 repo, .contains .committers .current-comitter h5 date {
    border-radius: 5px;
    background:var(--card-background-color);
    margin-right: 10px;
    padding:7px 14px;
    font-size: 15px;
}

.contains .committers .current-comitter h3 author {
    color:var(--title-color);
    font-weight: 500;
    margin-left: 5px;
}

.contains .committers .current-comitter img {
    width: 50px;
    height: 50px;
    display:inline-flex;
    margin-right: 25px;
    border-radius: 50px;
}

.contains .committers .current-comitter .about-committer {
    display:flex;
    margin-top: 75px;
    align-items: center;
}

.contains .committers .current-comitter .about-committer .experience-comitter {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: flex-end;
}
.contains .committers .current-comitter .about-committer .experience-comitter span {
    padding: 7px 14px;
    background: var(--success-commit-color);
    border-radius: 100px;
    font-weight: 500;
    color:var(--title-color);
}

.contains .committers .current-comitter .about-committer .experience-comitter span i {
    transform:translateY(2px)
}

.contains .committers .scoreboard {
    background: var(--card-background-color);
    width: 100%;
    height: 686px;
    min-width: 350px;
    max-width: 600px;
    display: flex;
    padding: 50px;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: column;
}

.contains .committers .scoreboard .item {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.025)
}
.contains .committers .scoreboard .item:last-child {
    border-bottom: 2px solid transparent;
    margin-bottom: 0;
    padding-bottom: 0;
}
.contains .committers .scoreboard .item .about {
    width: calc(100% - 85px - 85px)
}

.contains .committers .scoreboard .item .right {
    width: 85px;
    display:flex;
    justify-content: right;
}

.contains .committers .scoreboard .item .right span {
    padding: 7px 14px;
    background: var(--card-item-background-color);
    transition: 250ms;
    border-radius: 100px;
    font-size: 15px;
    color:var(--title-color);
}

.contains .committers .scoreboard .item .right span i {
    transform:translateY(2px)
}

.contains .committers .scoreboard .item h3 {
    color: var(--title-color);
    font-weight: 400;
    margin-top:-2px;
}
.contains .committers .scoreboard .item h4 {
    color:var(--label-color);
    font-weight: 400;
    margin-top: 5px;
    font-size: 15px;
}

.contains .committers .scoreboard .item img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.contains .committers .scoreboard .item .picture {
    width: 85px;
}

.contains section.events {
    align-items: center;
    justify-content: space-around;
    padding: 5rem;
}

.contains section.events .school {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding:2.5rem;
    align-items: start;
}

.contains section.events .school p {
    color:#999;
    width: 75%;
    line-height: 2em;
}

.contains section.events .school w {
    color:var(--text-color);
}
.contains .events .school h1 {
    color:var(--title-color);
    font-weight: 200;
    margin-bottom: 50px;
    font-size: 3rem;
}
.contains section.events .events-list {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
.contains section.events .events-list .item {
    padding: 25Px;
    width: 375px;
    height: 150px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    border-radius: 5px;
    background: var(--card-background-color);
    flex-direction: column;
    justify-content: space-between;
}
.contains section.events .events-list .item h1 {
    color:var(--title-color);
    font-size: 1.25rem;
    font-weight: 400;
}

.contains section.events .events-list .item h4 {
    color:#777777;
    font-weight: 400;
}

.contains section.events .events-list .item .mandatory {
    background:var(--card-item-background-color);
    padding:7px 14px;
    border-radius: 50px;
    font-size: 13px;
    display:inline-flex;
    margin-left: 10px;
    color:var(--text-color)
}
