header.navbar {
    --width: 100px;

    display: flex;
    width: var(--width);
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-background-color);
    justify-content: space-between;
    padding: 5rem 0;
}
header.navbar .block {
    height: 40%;
}

header.navbar .block.bottom {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

header.navbar i {
    color: var(--label-color);
    font-size: 30px;
    width: var(--width);
    height: var(--width);
    display: inline-flex;
    border: 2px solid transparent;
    align-items: center;
    justify-content: center;
    transition: 150ms;
}

header.navbar i:hover {
    background: rgba(255, 255, 255, 0.05);
}

header.navbar i.active {
    color:var(--title-color);
    background: rgba(255, 255, 255, 0.025);
    border-left:2px solid var(--title-color)
}
